<!DOCTYPE html>
<html>
    <head>
        <title>
            ok
        </title>
    </head>
    <body>
        <main>
            <ul>

              <% figglesandbit.forEach( (person) =>{ %>

             <li><%=person %></li>

              <%}); %>
            </ul>
        </main>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="/app.js"></script>
    </body>
</html>